#content-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content-title{
    display: inline-block;
    color: #191622;
    margin-left: 2vh;
}

.optionsAvailable{
    display: grid;
    grid-template-columns: 50vh 50vh;
    grid-gap: 2vh;
    align-self: center;
}